/* PAGE */

.finance-page {

  display: flex;

  min-height: 100vh;

}


/* CONTENT */

.finance-content {

  margin-left: 260px;

  width: calc(100% - 260px);

  padding: 30px;

  min-height: 100vh;

  box-sizing: border-box;

}


/* TITLE */

.finance-title {

  margin-bottom: 25px;

  font-size: 42px;

  font-weight: 700;

}


/* SUMMARY */

.finance-summary {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(250px, 1fr)
    );

  gap: 25px;

  margin-bottom: 30px;

}


/* SUMMARY CARD */

.summary-card {

  padding: 25px;

  border-radius: 24px;

  transition: 0.3s;

}


.summary-card:hover {

  transform:
    translateY(-5px);

}


.summary-card h2 {

  margin-bottom: 15px;

  color: #0f172a;

}


.summary-card p {

  color: #475569;

  font-size: 18px;

}


/* FORM */

.finance-form {

  background: white;

  padding: 30px;

  border-radius: 24px;

  margin-bottom: 35px;

}


/* INPUT */

.finance-input,
.finance-select {

  width: 100%;

  padding: 16px;

  margin-bottom: 20px;

  border-radius: 14px;

  outline: none;

  font-size: 16px;

  box-sizing: border-box;

}


/* BUTTON */

.finance-button {

  padding: 14px 24px;

  border: none;

  border-radius: 12px;

  cursor: pointer;

  font-size: 15px;

  font-weight: 600;

  transition: 0.3s;

}


.finance-button:hover {

  transform:
    translateY(-2px);

}


/* TRANSACTION LIST */

.transaction-list {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(300px, 1fr)
    );

  gap: 25px;

}


/* CARD */

.transaction-card {

  padding: 25px;

  border-radius: 24px;

  transition: 0.3s;

}


.transaction-card:hover {

  transform:
    translateY(-5px);

}


.transaction-card h3 {

  margin-bottom: 15px;

  color: #0f172a;

  font-size: 28px;

}


.transaction-card p {

  margin-bottom: 10px;

  color: #475569;

}


/* MOBILE */

@media (max-width: 768px) {

  .finance-content {

    margin-left: 0;

    width: 100%;

    padding:
      80px 15px 20px 15px;

  }

  .finance-title {

    font-size: 30px;

  }

}